<div class="group">
  <div class="relative z-[1000] w-full h-auto mx-auto">
    <div class="rounded-lg hover:shadow-md p-4 hover:bg-cardHover flex gap-8">
      <div class="w-2/3">
        <img
          class="rounded-md"
          src="./public/fermodoroPage.png"
          alt="Site Image"
        />
      </div>
      <div>
        <span class="flex gap-2">
          <h2
            class="font-bold text-xl mb-2 text-white group-hover:text-linkGreen"
          >
            FERMODORO APP
          </h2>
          <div
            class="group-hover:translate-y-[-5px] transition-transform duration-150 ease-in-out"
          >
            <svg
              class="stroke-current text-white group-hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
              ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
              ></path></svg
            >
          </div>
        </span>
        <p class="text-gray-400">
          Pomodoro de concentracion, inspirado en web.app desarrollad asdasdad
          asd asd asd aa con el proposito de concentrarte blaa
          dasdasdasskldaklsjdadasd. alkdsakldlajda jsldjalksdjlajdla asd
          asjhdjkahdkjahdkashdkaas dasd ajshdkasdksajhdkasj ada das aksdlka
          aslkdj al laksjd alsjd alskd lakjs d
        </p>
        <div class="flex mt-4">
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >React</span
          >
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >Astro</span
          >
          <span
            class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
            >Tailwind</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
