---
interface CardInformation {
  title: string;
  description: string;
  technologies: Technology[];
  project: SiteInfo;
  yearWorked?: string;
}

interface Technology {
  name: string;
}
interface SiteInfo {
  siteURL?: string;
  siteImage?: string;
}

const props = Astro.props as CardInformation;

const {
  title = "Project Title",
  description = "Project Description",
  technologies = [],
  project,
  yearWorked,
} = props;
---

<div class="group">
  <div class="relative z-[1000] w-full h-auto mx-auto">
    <div
      class={project.siteURL
        ? "flex gap-8 rounded-lg hover:shadow-md p-4 hover:bg-cardHover"
        : "rounded-lg hover:shadow-md p-4 hover:bg-cardHover"}
    >
      <div class="w-2/3">
        <img class="rounded-md" src={project.siteImage} alt="Site Image" />
      </div>
      <div>
        <span class="flex gap-2">
          <h2
            class="font-bold text-xl mb-2 text-white group-hover:text-linkGreen"
          >
            {title}
          </h2>
          <div
            class="group-hover:translate-y-[-5px] transition-transform duration-150 ease-in-out"
          >
            <svg
              class="stroke-current text-white group-hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"
              ></path><path d="M11 13l9 -9"></path><path d="M15 4h5v5"
              ></path></svg
            >
          </div>
        </span>
        <p class="text-gray-400">
          {description}
        </p>
        <div class="flex mt-4">
          {
            technologies.map((tech) => (
              <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
                {tech.name}
              </span>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
