<header class="flex w-full align-center justify-center py-8">
  <nav
    class="text-white border rounded-full flex items-center justify-center gap-4 py-2 px-5"
  >
    <a href="#inicio">INICIO</a>
    <a href="#experiencia">EXPERIENCIA</a>
    <a href="#proyectos">PROYECTOS</a>
    <a href="#habilidades">HABILIDADES</a>
    <a href="#educacion">EDUCACIÓN</a>
    <a href="#certificados">CERTIFICADOS</a>
  </nav>
</header>
