---
import MasterIcon from "./icons/Master.astro";

import { basics } from "../../cv.json";
const { profiles } = basics;

const validProfiles = ["github", "linkedin", "instagram", "email"];

const filterProfiles = profiles.filter((p) =>
  validProfiles.includes(p.network.toLowerCase().trim())
);
---

<div
  class="group w-[40px] fixed bottom-0 left-10 right-auto z-[10] flex-col justify-center lg:block"
>
  <ul class="lista-social">
    {
      filterProfiles.map((p) => (
        <li class="flex items-center justify-center">
          <a
            class="p-[10px]"
            href={p.url}
            aria-label={p.network}
            target="_blank"
            rel="noreferrer"
          >
            <MasterIcon type={p.network.toLowerCase().trim() as any} />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  .lista-social::after {
    @apply mb-0 ml-auto mr-auto mt-0 block h-[90px] w-[2px] bg-[#a8b2d1] content-[''];
  }
</style>
