---
import MasterIcon from "./icons/Master.astro";

import { basics } from "../../cv.json";
const { profiles } = basics;

const validProfiles = ["github", "linkedin", "instagram", "email"];

const filterProfiles = profiles.filter((p) =>
  validProfiles.includes(p.network.toLowerCase().trim())
);
---

<div
  class="group w-[40px] fixed bottom-0 left-10 right-auto z-[10] flex-col justify-center lg:block"
>
  <ul class="lista-social">
    {
      filterProfiles.map((p) => (
        <li class="flex items-center justify-center">
          <a
            class="p-[10px]"
            href={p.url}
            aria-label={p.network}
            target="_blank"
            rel="noreferrer"
          >
            <MasterIcon type={p.network.toLowerCase().trim() as any} />
          </a>
        </li>
      ))
    }

<!-- class="group w-[40px] fixed bottom-0 left-10 right-auto z-[10] flex flex-col justify-center lg:block" --><!-- class="group w-full bottom-0 left-10 right-auto z-[10] lg:w-[40px] lg:block lg:flex-col lg:justify-center" -->
<div class="group">
  <!-- <ul class="lista-social flex justify-center items-center gap-8"> -->
  <!-- class="lista-social lg:bottom-0 lg:left-10 :lg:right-auto lg:z-[10] flex justify-center items-center gap-8 lg:flex-col lg:absolute lg:gap-0" -->
  <!-- Este esta bueno -->
  <!-- class="lista-social w-[40px] fixed bottom-0 left-10 right-auto z-[10] flex flex-col justify-center items-center lg:block" -->
  <ul
    class="lista-social
      w-full
      flex
      justify-center
      items-center
      gap-8
      lg:w-[40px]
      lg:fixed
      lg:bottom-0
      lg:left-10
      lg:right-auto
      lg:z-[10]
      lg:flex-col
      lg:gap-0"
  >
    <li class="lg:flex lg:justify-center lg:items-center">
      <a
        class="p-[10px]"
        href="https://github.com/fq962"
        aria-label="GitHub"
        target="_blank"
        rel="noreferrer"
        ><svg
          class="w-[28px] h-[28px] text-[#a8b2d1] hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        ></a
      >
    </li>
    <li class="lg:flex lg:justify-center lg:items-center">
      <a
        class="p-[10px]"
        href="https://www.linkedin.com/in/fernando-quintanilla-6349951a0/"
        aria-label="GitHub"
        target="_blank"
        rel="noreferrer"
        ><svg
          class="w-[28px] h-[28px] text-[#a8b2d1] hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
          role="img"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><title>LinkedIn</title><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
        ></a
      >
    </li>
    <li class="lg:flex lg:justify-center lg:items-center">
      <a
        class="p-[10px]"
        href="https://www.instagram.com/df.quintanillah"
        aria-label="GitHub"
        target="_blank"
        rel="noreferrer"
        ><svg
          class="w-[28px] h-[28px] text-[#a8b2d1] hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
          role="img"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><title>Instagram</title><path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"></path>
          <path
            d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
          ></path>
          <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
        </svg></a
      >
    </li>
    <li class="lg:flex lg:justify-center lg:items-center">
      <a
        class="p-[10px]"
        href="df.quintanillah@gmail.com"
        aria-label="GitHub"
        target="_blank"
        rel="noreferrer"
        ><svg
          class="w-[28px] h-[28px] text-[#a8b2d1] hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
          role="img"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><title>df.quintanillah@gmail.com</title>
          <path
            d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
          ></path>
          <path d="M3 7l9 6l9 -6"></path></svg
        ></a
      >
    </li>
    <li
      class="lg:block lg:pt-[10px] hidden after:mb-0 after:ml-auto after:mr-auto after:mt-0 after:block after:h-[90px] after:w-[2px] after:bg-[#a8b2d1] after:content-['']"
    >
    </li>
  </ul>
</div>

<!-- <style>
  .lista-social::after {
    @apply mb-0 ml-auto mr-auto mt-0 block h-[90px] w-[2px] bg-[#a8b2d1] content-[''];
  }
</style> -->
