<svg
  class="w-[28px] h-[28px] text-[#a8b2d1] hover:text-[#9DBA96] transition-transform duration-150 ease-in-out"
  role="img"
  viewBox="0 0 24 24"
  fill="none"
  stroke="currentColor"
  stroke-width="2"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <title>Instagram</title>
  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
  <path
    d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
  ></path>
  <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
</svg>
