---
import { CardCertificadoComponnent } from "../../components/react/CardCertificado";

import { certificates } from "../../../cv.json";
---

<!-- <section
  id="certificados"
  class="flex items-center flex-col justify-center w-full gap-5 pt-14 pb-14"
> -->
<section
  id="certificados"
  class="flex items-center flex-col justify-center w-full gap-5 pt-14"
>
  <div
    class="flex
        justify-start
        items-center
        p-1
        sm:w-full
        sm:pl-4
        md:w-[850px]"
  >
    <label for="" class="text-white font-semibold text-2xl">Certificados</label>
  </div>
  <div class="grid
        grid-cols-1
        sm:grid-cols-2
        gap-6">
    {
      certificates.map((c) => (
        <CardCertificadoComponnent
          titulo={c.name}
          fechaCertificado={c.date}
          institucion={c.issuer}
          certificadoURL={c.url}
          client:load
        />
      ))
    }
  </div>
</section>
