---
import { CardExperienceComponnent } from "../../components/react/CardExperience";

import { work } from "../../../cv.json";
---

<section
  id="experiencia"
  class="flex items-center flex-col justify-center w-full gap-5 pt-14"
>
  <!-- <CardExperience /> -->
  <div
    class="flex justify-start items-center p-1 sm:w-full sm:pl-4 md:w-[850px]"
  >
    <label for="" class="text-white font-semibold text-2xl">
      Experiencia Laboral
    </label>
  </div>
  {
    work.map((w) => (
      <CardExperienceComponnent
        title={w.position}
        description={w.summary}
        yearExperience={w.startDate + " - " + (w.endDate ?? "Actualidad")}
        skills={w.highlights.map((h) => ({
          skill: h,
          skillIcon: `static/icons/${h.toLowerCase().trim()}`,
        }))}
        client:load
      />
    ))
  }
</section>
