---
import ButtonDownloadCV from "../../components/react/DownloadCV";
---

<section class="flex w-full">
  <div class="flex px-96 mx-20 py-12 lg:px-52">
    <div class="flex flex-col gap-5 items-start">
      <span class="text-white font-bold text-3xl">David F. Quintanilla</span>
      <ButtonDownloadCV />
      <p class="text-white">
        Con más de dos años de experiencia como desarrollador web y backend,
        incluyendo un año como freelancer, tengo una sólida comprensión del
        panorama tecnológico en constante evolución. Apasionado por la
        tecnología, me destaco por mi capacidad para adaptarme rápidamente a
        nuevos entornos y aprender ágilmente nuevos lenguajes de programación.
        Mi enfoque se centra en el desarrollo web y backend, con habilidades
        destacadas en la resolución eficiente de problemas y la implementación
        de buenas prácticas de codificación. Mi dedicación a la mejora continua
        y el crecimiento profesional me ha permitido mantenerme al tanto de las
        últimas tendencias y tecnologías. Listo para aportar mi experiencia y
        habilidades a desafíos apasionantes en el desarrollo web.
      </p>
    </div>
    <img
      class="rounded-full w-64 h-64 m-6 lg:hidden 2xl:block"
      src="../../../public/Fernando_B&N.jpg"
      alt="David F. Quintanilla"
    />
  </div>
</section>
