---
import ButtonDownloadCV from "../../components/react/DownloadCV";
---

<section class="flex items-center justify-center w-full pt-14">
  <div class="grid grid-rows-2 grid-flow-col gap-4 w-[850px] px-5">
    <div class="col-span-2 flex flex-col items-start gap-5">
      <span class="text-white font-bold text-3xl">David F. Quintanilla</span>
      <ButtonDownloadCV />
    </div>
    <div class="row-span-1 col-span-2">
      <p class="text-white">
        Con más de dos años de experiencia como desarrollador web y backend,
        incluyendo un año como freelancer, tengo una sólida comprensión del
        panorama tecnológico en constante evolución. Apasionado por la
        tecnología.
      </p>
    </div>
    <div class="row-span-2">
      <img
        class="rounded-full hidden md:block"
        src="../../../public/Fernando_B&N.jpg"
        alt="David F. Quintanilla"
      />
    </div>

    <!-- <div class="flex flex-col gap-5 items-start">
      <span class="text-white font-bold text-3xl">David F. Quintanilla</span>
      <ButtonDownloadCV />
      <p class="text-white">
        Con más de dos años de experiencia como desarrollador web y backend,
        incluyendo un año como freelancer, tengo una sólida comprensión del
        panorama tecnológico en constante evolución. Apasionado por la
        tecnología, me destaco por mi capacidad para adaptarme rápidamente a
        nuevos entornos y aprender ágilmente nuevos lenguajes de programación.
        Mi enfoque se centra en el desarrollo web y backend, con habilidades
        destacadas en la resolución eficiente de problemas y la implementación
        de buenas prácticas de codificación. Mi dedicación a la mejora continua
        y el crecimiento profesional me ha permitido mantenerme al tanto de las
        últimas tendencias y tecnologías. Listo para aportar mi experiencia y
        habilidades a desafíos apasionantes en el desarrollo web.
      </p>
    </div>
    <img
      class="rounded-full w-64 h-64 m-6 lg:hidden 2xl:block"
      src="../../../public/Fernando_B&N.jpg"
      alt="David F. Quintanilla"
    /> -->
  </div>
</section>
