---
import { CardExperienceComponnent } from "../../components/react/CardExperience";
import { projects } from "../../../cv.json";
---

<section
  id="proyectos"
  class="flex items-center flex-col justify-center w-full gap-5 pt-14"
>
  <div
    class="flex justify-start items-center p-1 sm:w-full sm:pl-4 md:w-[850px]"
  >
    <label for="" class="text-white font-semibold text-2xl">Proyectos</label>
  </div>
  {
    projects.map((p) => (
      <CardExperienceComponnent
        title={p.name}
        description={p.description}
        pageURL={p.url ?? ""}
        skills={p.highlights.map((t) => ({
          skill: t,
          skillIcon: `static/icons/${t.toLowerCase().trim()}`,
        }))}
        client:load
      />
    ))
  }
</section>
