---
import { CardExperienceComponnent } from "../../components/react/CardExperience";

const description = `Pomodoro de concentracion, inspirado en web.app desarrollad asdasdad
            asd asd asd aa con el proposito de concentrarte blaa
            dasdasdasskldaklsjdadasd. alkdsakldlajda jsldjalksdjlajdla asd
            asjhdjkahdkjahdkashdkaas dasd ajshdkasdksajhdkasj ada das aksdlka
            aslkdj al laksjd alsjd alskd lakjs d dasskldaklsjdadasd.
            alkdsakldlajda jsldjalksdjlajdla asd asjhdjkahdkjahdkashdkaas dasd
            ajshdkasdksajhdkasj ada das aksdlka aslkdj al laksjd alsjd alskd
            lakjs d.`;
const imageURL = "../../../public/fermodoroPage.png";
---

<section
  class="flex items-center flex-col justify-center w-full gap-5 pt-14 pb-14"
>
  <!-- <CardExperience /> -->
  <div class="w-[850px] flex justify-start items-center p-1">
    <label for="" class="text-white font-semibold text-2xl">Proyectos</label>
  </div>
  <CardExperienceComponnent
    title="FERMODORO APP"
    description={description}
    pageURL="https://fermodoro.site/"
    imageURL={imageURL}
    knowledge={["React", "TypeScript", "Tailwind"]}
    client:load
  />
</section>
