---
import SquareRoundedIcon from "../../public/static/icons/SquarePointerIcon";
import MouseStyle from "../components/CanvasWithEraser";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const svgBase64 = `data:image/svg+xml;base64,${btoa(SquareRoundedIcon)}`;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo_dq.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <MouseStyle client:load />
  </body>
</html>
<style is:global>
  body {
    cursor:
      url(/public/static/icons/rounded-pointer.svg) 12 12,
      auto;
    overflow: overlay;
  }

  /* ::-webkit-scrollbar {
    width: 10px;
  } */
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(55, 21, 25, 1);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9dba96;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #9dba96;
  }
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #252543; /* Fallback para navegadores que no soportan degradados */
    background: linear-gradient(800deg, #1d1d50, #3a1515); /* Degradado */
    /* background-size: 224px; */
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
